/* https://coolors.co/36213e-554971-63768d-8ac6d0-b8f3ff */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

hr {
    border: 1px solid #6f47cc;
    font-size: 2rem;
}

.navbar {
    /* height: 3rem; */
    background-color: #36213e;
}

.navbar .title {
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.card {
    border: 1px solid #63768d;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
}

.card .header {
    font-size: 1.5rem;
}

.exerciseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.exerciseContainer > * {
    flex-grow: 1;
}

.exerciseContainer .upperRow {
    width: 100%;
    display: flex;
    gap: 1rem;

    flex-wrap: wrap;
}

.exerciseContainer .upperRow > * {
    flex-grow: 1;
}

.scaleContainer {
    width: 100%;
}

.scaleContainer #scale {
    width: calc(100% - 8px);
}

.bpmContainer {
    display: flex;
    gap: 1rem;
}

.bpmContainer > input {
    flex-grow: 1;
}